<form class="login-form" [formGroup]="_loginForm" autocomplete="off">
  <h1>SIGNIN</h1>
  <app-logo></app-logo>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      type="text"
      matInput
      placeholder="La tua email"
      formControlName="email"
      data-testid="email"
    />
    <mat-error *ngIf="this._loginForm.get('email')?.hasError('required')">
      Indirizzo email necessario.
    </mat-error>
    <mat-error *ngIf="this._loginForm.get('email')?.hasError('pattern')">
      Inserisci una email valida.
    </mat-error>
    <mat-error
      *ngIf="this._loginForm.get('email')?.hasError('wrongCredentialError')"
    >
      Credenziali errate.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      [type]="_hide ? 'password' : 'text'"
      placeholder="La tua password"
      formControlName="password"
      data-testid="psw"
    />
    <mat-icon
      matSuffix
      (click)="_hide = !_hide"
      data-testid="plaintextPswButton"
      >{{ _hide ? "visibility_off" : "visibility" }}</mat-icon
    >
    <mat-error *ngIf="this._loginForm.get('password')?.hasError('required')">
      Password necessaria.
    </mat-error>
    <mat-error *ngIf="this._loginForm.get('password')?.hasError('format')">
      Formato password errato.
    </mat-error>
    <mat-error
      *ngIf="this._loginForm.get('password')?.hasError('wrongCredentialError')"
    >
      Credenziali errate.
    </mat-error>
  </mat-form-field>

  <div id="clock-captcha"></div>

  <div *ngIf="errorMessage" class="error">
    <h3>Tempus Fugit</h3>
    <p>{{ errorMessage }}</p>
    <a routerLink="">Torna alla Home</a>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="
      this._loginForm.get('email')?.hasError('required') ||
      this._loginForm.get('password')?.hasError('required') ||
      errorMessage
        ? true
        : false
    "
    (click)="login()"
    data-testid="submit"
  >
    ACCEDI
  </button>

  <div class="switchPage">
    <p>Non sei ancora registrato? <a routerLink="/signup">REGISTRATI</a></p>
  </div>
</form>
