@keyframes fade-in {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.signup-form {
  position: absolute;
  left: 0;
  top: 0;
  /* height: 100%; */
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4eee4;
  padding: 0 150px;
  box-sizing: border-box;
  transition: all .3s ease;
}

h1 {
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto auto auto;

  border-radius: 20px 20px 0 0;
  height: 100px;
  width: calc(100% + 140px);

  transform: translateX(-70px);

  background-color: blue;
  font-family: 'Sigmar One', cursive;
  background-image: linear-gradient(223deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  color: white;
  font-size: 3rem;
  animation: fade-in .7s;
}
.switchPage{
  text-align: center;
  font-size: 1.3em;
}

.logo-container {
  padding: 30px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  margin: 10px 0;
}


button {
  width: 150px;
  padding: 25px 0;
  margin: 40px auto;
  background-image: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  transition: filter 0.3s ease;
}

button:disabled {
  filter: grayscale(100%);
}

@media screen and (max-width:1400px) {
  .signup-form {
      width: 90%;
      max-width: 500px;
      padding: 0 70px;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: max-content;
      border-radius: 20px;
  }

  h1 {
      display: flex;
      margin: 5em auto auto auto;
  }
}
