@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.signup-form {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4eee4;
  padding: 0 150px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

h1 {
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px 5px 0 0;
  height: 100px;
  width: calc(100% + 140px);

  transform: translateX(-70px);

  background-color: blue;
  font-family: "Sigmar One", cursive;
  background-image: linear-gradient(
    223deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  );
  color: white;
  font-size: 3rem;
  animation: fade-in 0.7s;
}

.switchPage {
  text-align: center;
  font-size: 1.3em;
}

.error {
  color: darkred;
  font-size: 1.1em;
  text-align: center;
}
.error h3 {
  font-size: 1.3em;
}

mat-form-field {
  margin: 10px 0;
}

button {
  width: 150px;
  padding: 25px 0;
  margin: 40px auto;
  background-image: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  );
  transition: filter 0.3s ease;
}

button:disabled {
  filter: grayscale(100%);
}

@media screen and (max-width: 1400px) {
  .signup-form {
    width: 90%;
    max-width: 500px;
    padding: 0 70px;
    border-radius: 5px;
    margin: 30px auto;
  }

  h1 {
    display: flex;
  }
}
