/* You can add global styles to this file, and also import other style files */
*{margin: 0; padding: 0; border: 0;}
html, body { min-height: 100vh; height: auto; box-sizing: border-box;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%); background-size: cover; background-repeat: no-repeat;}
